.show{
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    height: 50px;
    align-items: center;
}
.data >  .col-md-3 {
    text-align: center;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 20px;
    height: 40px;
}
.data >  .col-md-2 {
    text-align: center;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 20px;
    height: 40px;
}
